build/
target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
out/
generated/
generated_tests/
generated-resources-dir/
bin/
*.swp

# python
__pycache__
venv
.pyc

# Compiled class file
*.class

# Log file
*.log
*.log*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.gradle/*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
#### Intellij run configuration
.run/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
*/.gradle/*